name: Release packages

on:
  push:
    branches:
      - main

jobs:
  checks:
    name: Lint and typecheck
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      timeout-minutes: 5
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Setup pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      with:
        version: 10.28.0

    - name: Install nodejs
      timeout-minutes: 5
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: 24.13.0
        cache: pnpm

    - name: Install dependencies
      timeout-minutes: 5
      run: pnpm install --frozen-lockfile

    - name: Lint repository
      timeout-minutes: 5
      run: pnpm lint

    - name: Typecheck
      timeout-minutes: 5
      run: pnpm typecheck

  release:
    name: Version and publish
    runs-on: ubuntu-latest
    needs:
    - checks
    permissions:
      contents: write
      id-token: write
      pull-requests: write

    steps:
    - name: Checkout repository
      timeout-minutes: 5
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Setup pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      with:
        version: 10.28.0

    - name: Install nodejs
      timeout-minutes: 5
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: 24.13.0
        cache: pnpm
        registry-url: https://registry.npmjs.org

    - name: Install dependencies
      timeout-minutes: 5
      run: pnpm install --frozen-lockfile

    - name: Create release PR or publish
      id: changesets
      uses: changesets/action@v1
      with:
        version: pnpm version-packages
        publish: pnpm release
        commit: ":memo: Release packages"
        title: ":memo: release packages"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_CONFIG_PROVENANCE: true
