name: Publish some-tsconfig-preset

on:
  push:
    branches: [ main ]

concurrency:
  group: publish
  cancel-in-progress: false

jobs:
  publish:
    name: Publish package to npm
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      timeout-minutes: 5
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Setup pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 10.15.1

    - name: Install nodejs
      timeout-minutes: 5
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 22.19.0
        cache: pnpm

    - name: Install dependencies
      timeout-minutes: 5
      run: pnpm i

    - uses: JS-DevTools/npm-publish@19c28f1ef146469e409470805ea4279d47c3d35c # v3
      timeout-minutes: 5
      with:
        access: public
        package: ./package.json
        token: ${{ secrets.NPM_TOKEN }}
