name: Publish some-tsconfig-preset

on:
  push:
    branches: [ main ]

concurrency:
  group: publish
  cancel-in-progress: false

jobs:
  publish:
    name: Publish package to npm
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      timeout-minutes: 5
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Setup pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 10.24.0

    - name: Install nodejs
      timeout-minutes: 5
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 22.21.1
        cache: pnpm

    - name: Install dependencies
      timeout-minutes: 5
      run: pnpm i

    - uses: JS-DevTools/npm-publish@7f8fe47b3bea1be0c3aec2b717c5ec1f3e03410b # v4
      timeout-minutes: 5
      with:
        access: public
        package: ./package.json
        token: ${{ secrets.NPM_TOKEN }}
